*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(img/pattern.png);
    height: 100px;
    background-color:lightskyblue;
    position: relative;
    background-size: 20%;
}

.intestazione img{
    margin: 0 10%;
    width: 150px;
    position: absolute;
    bottom: 10px;
    margin-bottom: 0px;
}

main{
    margin: 0 10%;
}

.titolo{
    font-size: 20px;
    margin-top: 10px;
}

span{
    color: blue;


}